<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noai">
    <meta name="robots" content="noimageai">
    <meta name="generator" content="{{ eleventy.generator }}">
    {% if thumbnail %}
        <meta name="og:image" content="{{ (page.url + thumbnail) | absoluteUrl(global.baseURL) }}">
    {% endif %}
    {% for metaName, metaContent in metas %}
        <meta name="{{ metaName }}" content="{{ metaContent }}">
    {% endfor %}
    {% for html in headHtml %}
        {{ html | safe }}
    {% endfor %}
    {% if rss %}
        <link rel="alternate" type="application/rss+xml" href="{{ rss.href }}" title="{{ rss.title }}">
    {% endif %}
    <link rel="shortcut icon" href="/assets/images/avatar.webp" type="image/x-icon">
    <link rel="stylesheet" href="{{ "/assets/styles/main.css" | cacheBust }}">
    {% for style in styles %}
        <link rel="stylesheet" href="{{ "/assets/styles/" + style + ".css" | cacheBust}}">
    {% endfor %}
    <noscript><link rel="stylesheet" href="/assets/styles/noscript.css"></noscript>
    <title>
        {% if page.url === "/" %}
            {{ title }}
        {% elif topic %}
            {{ title }} • {{ topic }} | NaiNonTheN00b1
        {% else %}
            {{ title }} | NaiNonTheN00b1
        {% endif %}
    </title>
</head>
<body>
    {% include "./components/Header.njk" %}
    <main>
        {% block main %}{% endblock %}
    </main>
    {% include "./components/Footer.njk" %}
    <script async src="{{ "/assets/scripts/main.js" | cacheBust }}"></script>
    {% for script in scripts %}
        <script async src="{{ "/assets/scripts/" + script + ".js" | cacheBust }}"></script>
    {% endfor %}
</body>
</html>