---
styles:
  - article
---

{% extends "_Base.njk" %}
{% block main %}
    <article>
        <h1>{{ title }}</h1>
        {% if timeDescription %}
          <i>{{ timeDescription }} <time datetime="{{ page.date | formatDateSlug }}">{{ page.date | formatDate }}</time></i>
        {% endif %}
        <hr>
        {{ content | safe }}
    </article>
{% endblock %}