<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noai">
    <meta name="robots" content="noimageai">
    {% if thumbnail %}
        <meta name="og:image" content="{{ page.url }}{{ thumbnail }}">
    {% endif %}
    {% for metaName, metaContent in metas %}
        <meta name="{{ metaName }}" content="{{ metaContent }}">
    {% endfor %}
    <link rel="shortcut icon" href="/assets/images/avatar.webp" type="image/x-icon">
    <link rel="stylesheet" href="/assets/styles/main.css">
    {% for style in styles %}
        <link rel="stylesheet" href="/assets/styles/{{ style }}.css">
    {% endfor %}
    <title>{{ title if page.url === "/" else title + " | NaiNonTheN00b1" }}</title>
</head>
<body>
    {% include "Header.njk" %}
    <main>
        {% block main %}{% endblock %}
    </main>
    {% include "Footer.njk" %}
    <script src="/assets/scripts/main.js"></script>
    {% for script in scripts %}
        <script src="/assets/scripts/{{ script }}.js"></script>
    {% endfor %}
</body>
</html>