<footer>
    <div>
        <strong>NaiNonTheN00b1</strong> - Since 2024
    </div>
    <nav>
        <ul>
            <li><a aria-current="{{ page.url === ("/accessibility/") }}" href="/accessibility/">Accessibility</a></li>
            <li><a aria-current="{{ page.url === ("/archive/") }}" href="/archive/">Archive</a></li>
            <li><a aria-current="{{ page.url === ("/credits/") }}" href="/credits/">Credits</a></li>
        </ul>
    </nav>
</footer>