<header>
    <nav>
        <a aria-current="{{ page.url == "/" }}" class="avatar" title="Home" href="/">
            <picture>
                <source srcset="/assets/images/avatar.webp" type="image/webp">
                <img width="100" height="100" src="/assets/images/avatar.jpg" alt="Avatar">
            </picture>
        </a>
        <ul>
            <li><a aria-current="{{ page.url === ("/webmaster/") }}" href="/webmaster/">Webmaster</a></li>
            <li><a aria-current="{{ page.url === ("/blog/binary/page/1/") }}" href="/blog/binary/page/1/">Blog</a></li>
            <li><a aria-current="{{ page.url === ("/links/") }}" href="/links/">Links</a></li>
            <li><a aria-current="{{ page.url === ("/updates/") }}" href="/updates/">Updates</a></li>
            <li style="margin-left: auto;"><a aria-current="{{ page.url === ("/settings/") }}" href="/settings/">Settings</a></li>
        </ul>
    </nav>
</header>