<footer>
    <div>
        <p>&copy; 2024 | <b>NaiNonTheN00b1</b></p>
        <details>
            <summary id="site-info-req">Site Info</summary>
            <p id="last-built"><b>Last Built since</b> {{ sitesLastModified }}</p>
            <table class="no-thead">
                <tbody id="site-info"></tbody>
            </table>
        </details>
    </div>
    <nav>
        <ul>
            <li><a aria-current="{{ page.url === ("/accessibility/") }}" href="/accessibility/">Accessibility</a></li>
            <li><a aria-current="{{ page.url === ("/archive/") }}" href="/archive/">Archive</a></li>
            <li><a aria-current="{{ page.url === ("/credits/") }}" href="/credits/">Credits</a></li>
            <li><a aria-current="{{ page.url === ("/sitemap/") }}" href="/sitemap/">Sitemap</a></li>
            <li><a href="https://github.com/NaiNonTH/site">Repository</a></li>
        </ul>
    </nav>
</footer>