---
title: "Binary Blog"
layout: "Main.njk"
pagination:
  data: "collections.binary"
  reverse: true
  size: 12
styles:
  - blogIndex
permalink: "/blog/binary/page/{{ pagination.pageNumber + 1 }}/"
eleventyExcludeFromCollections: true
---

<h1 id="blog">
    Blog
    <span class="pageNumber">
        {{ pagination.pageNumber + 1 }}<span class="total">/{{ pagination.hrefs.length }}</span>
    </span>
</h1>
<section aria-labelledby="blog" id="index">
    {% if pagination.href.previous %}
        <div class="previous">
            <a class="btn" href="{{ pagination.href.previous }}">Previous</a>
        </div>
    {% endif %}
    {% for post in pagination.items %}
        <a href="{{ post.url }}">
            <article>
                <h2>
                    {{ post.data.title }}
                </h2>
                <i>Posted on <time datetime="{{ post.date | formatDateSlug }}">{{ post.date | formatDate }}</time></i>
            </article>
        </a>
    {% endfor %}
    {% if pagination.href.next %}
        <div class="next">
            <a class="btn" href="{{ pagination.href.next }}">Next</a>
        </div>
    {% endif %}
</section>