---
title: "Blog"
layout: "Main.njk"
rss:
  title: NaiNonTheN00b1's Blog
  href: "/blog/feed.xml"
description: A place where I would write my thoughts, interests, and things that is going on.
pagination:
  data: collections.blog
  reverse: true
  size: 12
styles:
  - blogIndex
topic: false
override:tags: []
permalink: "/blog/page/{{ pagination.pageNumber + 1 }}/"
---

<h1 id="blog">
    Blog
    <span class="pageNumber">
        {{ pagination.pageNumber + 1 }}<span class="total">/{{ pagination.hrefs.length }}</span>
    </span>
</h1>
<section aria-labelledby="tags" id="tags-section">
    <h2 id="tags">Tags</h2>
    <ul>
        {% for tag, _ in collections %}
            {% if ["all", "blog", "updates"].includes(tag) %}
            {% else %}
                <li><a class="btn" href="/blog/category/{{ tag }}/">{{ tagAlias[tag] or tag }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</section>
<div id="index">
    <div class="previous">
        {% if pagination.href.previous %}
            <a class="btn" href="{{ pagination.href.previous }}">Previous</a>
        {% endif %}
        <a class="btn feed" href="/blog/feed.xml">Subscribe via RSS</a>
    </div>
    {% for post in pagination.items %}
        <a href="{{ post.url }}">
            <article>
                <h2>
                    {{ post.data.title }}
                </h2>
                <i>Posted on
                    <time datetime="{{ post.date | formatDateSlug }}">
                        {{ post.date | formatDate }}
                    </time>
                </i>
            </article>
        </a>
    {% endfor %}
    {% if pagination.href.next %}
        <div class="next">
            <a class="btn" href="{{ pagination.href.next }}">Next</a>
        </div>
    {% endif %}
</div>