---
eleventyComputed:
  title: "Category: {{ tag }}"
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
    - updates
styles:
  - blogIndex
layout: "Main.njk"
override:tags: []
permalink: "/blog/category/{{ tag }}/"
---

<h1 id="blog">
    <span><code>{{ tag }}</code> Blog</span>
</h1>
<section aria-labelledby="blog" id="index">
    {% set tagContent = collections[tag] %}
    {% for post in tagContent | reverse %}
        <a href="{{ post.url }}">
            <article>
                <h2>
                    {{ post.data.title }}
                </h2>
                <i>Posted on
                    <time datetime="{{ post.date | formatDateSlug }}">
                        {{ post.date | formatDate }}
                    </time>
                </i>
            </article>
        </a>
    {% endfor %}
</section>