---
title: Links
description: A collection of Websites and Articles that I've surfed and is my favorite.
layout: "Main.njk"
styles:
  - links
buttons:
  - name: adilene
    button: adilene.png
    href: https://adilene.net
  - name: allyratworld
    button: allyratworld.png
    href: https://allyratworld.com
  - name: amemoia
    button: amemoia.png
    href: https://amemoia.nekoweb.org
  - name: appsirgames
    button: appsirgames.gif
    href: https://appsirgames.neocities.org
  - name: cinni
    button: cinni.png
    href: https://cinni.net
  - name: cloverbell
    button: cloverbell.gif
    href: https://cloverbell.neocities.org
  - name: dimden
    button: dimden.gif
    href: https://dimden.dev
  - name: dokodemo
    button: dokodemo.gif
    href: https://dokode.moe
  - name: doqmeat
    button: doqmeat.png
    href: https://doqmeat.com
  - name: farawaydrip30
    button: farawaydrip30.png
    href: https://farawaydrip30.nekoweb.org
  - name: goblin-heart
    button: goblin-heart.gif
    href: https://goblin-heart.net
  - name: goblin-heart (sadgrl)
    button: sadgrl.gif
    href: https://goblin-heart.net/sadgrl/
  - name: housepen
    button: housepen.gif
    href: https://housepen.nekoweb.org
  - name: kirsvantas
    button: kirsvantas.gif
    href: https://kirsvantas.com
  - name: local98
    button: local98.png
    href: https://local98.nekoweb.org
  - name: lunospace
    button: lunospace.gif
    href: https://lostlove.neocities.org
  - name: madeinv
    button: madeinv.gif
    href: https://madeinv.love
  - name: max
    button: max.png
    href: https://max.nekoweb.org
  - name: microbenggu
    button: microbenggu.gif
    href: https://microbenggu.neocities.org
  - name: modernpixels
    button: modernpixels.gif
    href: https://modernpixels.neocities.org
  - name: nekoweb
    button: nekoweb.gif
    href: https://nekoweb.org
  - name: remblanc
    button: remblanc.png
    href: https://remblanc.nekoweb.org
  - name: shishka
    button: shishka.gif
    href: https://shishka.neocities.org
  - name: shishka (nofollow)
    button: nofollow.gif
    href: https://shishka.neocities.org/nofollow/
  - name: seafare
    button: seafare.png
    href: https://seafare.neocities.org/nofollow/
  - name: softteddypaws
    button: softteddypaws.gif
    href: https://softteddypaws.neocities.org
articles:
  - title: The Deception of "Buying" Digital Movies
    author: Matthew
    href: https://worldofmatthew.com/technology/amazon-itunes-deception/
    details: This guy really pointed out the problem that is affecting owner rights of digital products like movies or games.
  - title: How the Blog Broke the Web
    author: Amy Hoy
    href: https://stackingthebricks.com/how-blogs-broke-the-web/
    details: I saw this on <a href="https://ericmurphy.xyz/links">Eric Murphy's Link page</a>, which is about the cost of ease-of-use, and I found it pretty interesting.
---

<h1>Links</h1>
<p>Here is a collection of Websites, Articles, or Channels on Video Sharing Platform (like YouTube) that I found online and love.</p>
<div class="left">
    <section aria-labelledby="buttons" id="s-1">
        <h2 id="buttons">Buttons</h2>
        {% for button in buttons %}
            <a target="_blank" class="not-text" href="{{ button.href }}" title="{{ button.name }}">
                <img loading="lazy" decoding="async" width="88" height="31" src="{{ button.button }}" alt="A button of {{ button.name }} website">
            </a>
        {% endfor %}
    </section>
    <section aria-labelledby="channels" id="s-3">
        <h2 id="channels">Video Creators</h2>
        <ul>
            <li><a href="https://www.youtube.com/@EricMurphyxyz">Eric Murphy</a></li>
            <li><a href="https://www.youtube.com/@VisualVenture">Visual Venture</a></li>
        </ul>
    </section>
</div>
<div class="right">
    <section aria-labelledby="articles" id="s-2">
        <h2 id="articles">Articles</h2>
        {% for article in articles %}
            <article>
                <h3><a target="_blank" href="{{ article.href }}">{{ article.title }}</a></h3>
                <i>By {{ article.author }}</i>
                <p>{{ article.details | safe }}</p>
            </article>
            <hr>
        {% endfor %}
    </section>
</div>