---
title: Updates
description: Listing all site updates since the beginning.
rss:
  title: NaiNonTheN00b1 Site Updates
  href: "/updates/feed.xml"
layout: "Main.njk"
styles:
  - updates
eleventyExcludeFromCollections: true
permalink: "/updates/"
---

<div class="wrapper">
    <h1 id="updates">Site Updates</h1>
    <div>
        <a class="btn" href="/updates/feed.xml">Subscribe via RSS</a>
    </div>
    {% for update in collections.updates | reverse %}
        <article>
            <h2>Update: {{ update.date | formatDate }}</h2>
            {{ update.content | safe }}
        </article>
    {% endfor %}
</div>