---
title: Updates
description: Listing all site updates since the beginning.
layout: "Main.njk"
styles:
  - updates
eleventyExcludeFromCollections: true
permalink: "/updates/"
---

<h1 id="updates">Updates</h1>
<section aria-labelledby="updates">
    {% for update in collections.updates %}
        <article>
            <h2>Update: {{ update.date | formatDate }}</h2>
            {{ update.content | safe }}
        </article>
    {% endfor %}
</section>