---
title: Webmaster
description: Learn a little more about my personal information like Nickname, MDNI, Tools Uses, etc.
layout: "Main.njk"
date: Last Modified
styles:
  - webmaster
socials:
  - title: GitHub
    branding: "#1F2328"
    href: https://github.com/NaiNonTH
    logo: github.svg
  - title: osu!
    branding: "#FF66AA"
    href: https://osu.ppy.sh/users/17144141
    logo: osu.svg
  - title: Planet Minecraft
    branding: "#3DA2FF"
    href: https://www.planetminecraft.com/member/nainonthen00b1/
    logo: pmc.svg"
  - title: "Monkeytype"
    branding: "#323437"
    href: https://monkeytype.com/profile/NaiNonTheN00b1
    logo: monkeytype.svg
  - title: Ko-Fi
    branding: "#FF5E5B"
    href: https://ko-fi.com/nainonthen00b1
    logo: kofi.svg"
uses:
  - name: Vivaldi
    href: https://vivaldi.com
    icon: vivaldi.svg
  - name: Windows 11
    href: https://windows.com
    icon: windows.svg
  - name: GitHub
    href: https://github.com
    icon: github.svg
  - name: SearX
    href: https://searx.space
    icon: searx.svg
  - name: Caesium
    href: https://saerasoft.com/caesium
    icon: caesium.svg
  - name: Gmail
    href: https://gmail.com
    icon: gmail.svg
  - name: Startpage
    href: https://startpage.com
    icon: startpage.svg
---

<section id="s-1" aria-labelledby="about-me">
    <h1 id="about-me">About Me</h1>
    <picture>
        <source srcset="/assets/images/avatar.webp" type="image/webp">
        <img width="120" height="120" src="/assets/images/avatar.jpg" alt="Avatar">
    </picture>
    <table class="no-thead">
        <tbody>
            <tr>
                <th>Nickname:</th>
                <td>Non</td>
            </tr>
            <tr>
                <th>Title:</th>
                <td>NaiNon&shy;TheN00b1</td>
            </tr>
            <tr>
                <th>Birthday:</th>
                <td>21st March</td>
            </tr>
            <tr>
                <th>Pronouns</th>
                <td>He/Him</td>
            </tr>
            <tr>
                <th>MBTI:</th>
                <td>ISFP-A</td>
            </tr>
            <tr>
                <th>Nationality:</th>
                <td>Thai 🇹🇭</td>
            </tr>
        </tbody>
    </table>
</section>
<section id="s-2" aria-label="Links">
    {% for social in socials %}
        <a class="not-text" target="_blank" title="{{ social.title }}" style="--branding: {{ social.branding }}" href="{{ social.href }}">
            <img src="socials/{{ social.logo }}" draggable="false" width="32" height="32" alt="{{ social.title }}">
        </a>
    {% endfor %}
</section>
<section id="s-3" aria-labelledby="likes">
    <h2 id="likes">Likes</h2>
    <p><em>I don't know, actually.</em></p>
</section>
<section id="s-4" aria-labelledby="uses">
    <h2 id="uses">Uses</h2>
    <ul>
        {% for use in uses %}
            <li>
                <a target="_blank" class="btn" href="{{ use.href }}" title="{{ use.name }}">
                    <img height="36" src="uses/{{ use.icon }}" alt="{{ use.name }} Icon">
                </a>
            </li>
        {% endfor %}
    </ul>
    <i>Last updated: {{ page.date | formatDate }}</i>
</section>