---
title: NaiNonTheN00b1
description: Get to know me, NaiNonTheN00b1, including some of my Projects and Blog Posts about my thoughts!
styles:
  - index
layout: "Main.njk"
---

<section id="s-1" aria-label="Greetings">
    <picture>
        <source srcset="/assets/images/avatar.webp" type="image/webp">
        <img width="135" height="135" src="/assets/images/avatar.jpg" alt="The Webmaster's Avatar">
    </picture>
    <div>
        <h1 id="hello-world">Hello, world!</h1>
        <p><strong>I'm NaiNonTheN00b1</strong>, and welcome to my <del>200th</del> personal website! Here, you will find my about me, some projects I made, and probably some blog posts.</p>
    </div>
</section>
<section id="s-2" aria-labelledby="projects">
    <h2 id="projects">Projects</h2>
    <span class="spacer"></span>
    <ul>
        <li><a class="btn" href="/minecraft/">Minecraft</a></li>
        <li><a class="btn" target="_blank" href="https://nainonth.github.io/Bmi-Calc">Bmi-Calc</a></li>
    </ul>
</section>
<section id="s-3" aria-labelledby="latest-post">
    {% set latestPost = collections.blog[0] %}
    <h2 id="latest-post">Latest Post</h2>
    <a class="not-text" href={{ latestPost.url }}>
        <article>
            <h3>{{ latestPost.data.title }}</h3>
            <picture>
                <source srcset="{{ latestPost.url + 'thumbnail.webp' }}" type="image/webp">
                <img src="{{ latestPost.url + 'thumbnail.jpg' }}" alt="A Thumbnail for Latest Post: {{ latestPost.data.title }}">
            </picture>
        </article>
    </a>
</section>