---
title: NaiNonTheN00b1
description: Get to know me, NaiNonTheN00b1, including some of my Projects and Blog Posts about my thoughts!
styles:
  - index
scripts:
  - index
layout: "Main.njk"
---

<section id="s-1" aria-label="Greetings">
    <picture>
        <source srcset="/assets/images/avatar.webp" type="image/webp">
        <img width="135" height="135" src="/assets/images/avatar.jpg" alt="The Webmaster's Avatar">
    </picture>
    <div>
        <h1 id="hello-world">Hello, world!</h1>
        <p><strong>I'm NaiNonTheN00b1</strong>, and welcome to my <del>200th</del> personal website! Here, you will find my about me, some projects I made, and probably some blog posts.</p>
        <p>Also,
            <span class="js" id="splash">...</span>
            <abbr class="js" title="This is a splash message, randomized on page load.">
                <svg width="24" height="24" viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" fill="none" stroke="currentColor" stroke-width=".8" style="stroke-width:.75;stroke-dasharray:none" r="3.125"/><rect x="3.625" y="3.563" width=".75" height="2.25" ry="0" fill="currentColor" style="stroke-width:.999998"/><circle cx="4" cy="2.688" fill="currentColor" r=".438" style="stroke-width:1"/></svg>
            </abbr>
            <noscript>I CAN'T LOAD THE GODDAMN JAVASCRIPT!! (but that's ok)</noscript>
        </p>
    </div>
</section>
<section id="s-2" aria-labelledby="projects">
    <h2 id="projects">Projects</h2>
    <span class="spacer"></span>
    <ul>
        <li><a class="btn" href="/minecraft/">Minecraft</a></li>
        <li><a class="btn" target="_blank" href="https://nainonth.github.io/Bmi-Calc">Bmi-Calc</a></li>
        <li><a class="btn" target="_blank" href="https://npmjs.org/sign-lang">Sign</a></li>
    </ul>
</section>
<section id="s-3" aria-labelledby="latest-post">
    {% set latestPost = (collections.blog | reverse)[0] %}
    <h2 id="latest-post">Latest Post</h2>
    <a class="not-text" href={{ latestPost.url }}>
        <article>
            <h3>{{ latestPost.data.title }}</h3>
            <picture>
                <source srcset="{{ latestPost.url + 'thumbnail.webp' }}" type="image/webp">
                <img loading="lazy" decoding="async" src="{{ latestPost.url + 'thumbnail.jpg' }}" alt="A Thumbnail for Latest Post: {{ latestPost.data.title }}">
            </picture>
        </article>
    </a>
</section>
<div class="sections-wrapper">
    <section aria-label="NavLink" id="s-6">
        <iframe title="NavLink Ads" loading="lazy" width="180" height="180" style="border:none" src="https://dimden.neocities.org/navlink/"></iframe>
    </section>
    <section aria-label="Guestbook" id="s-7">
        <h2><a target="_blank" href="https://nainonth.atabook.org">Sign my Guestbook</a></h2>
        <span>Powered by <a target="_blank" href="https://atabook.org">atabook</a></span>
    </section>
</div>
<section id="s-4" aria-labelledby="recent-update">
    <h2 id="recent-update">Site Update</h2>
    <article>
        {% set recentUpdate = (collections.updates | reverse)[0] %}
        <h3><a href="/updates/">{{ recentUpdate.date | formatDate }}</a></h3>
        {{ recentUpdate.content | safe }}
    </article>
</section>
<section id="s-5" aria-labelledby="buttons">
    <h2 id="buttons">Buttons</h2>
    <div>
        <a class="not-text" href="/">
            <img width="88" height="31" loading="lazy" decoding="async" src="/button-light.jpg" alt="NaiNonTheN00b1 Button">
        </a>
        <a class="not-text" href="/">
            <img width="88" height="31" loading="lazy" decoding="async" src="/button-dark.jpg" alt="NaiNonTheN00b1 Button">
        </a>
    </div>
    <p>Share my site on your website</p>
    <label for="light-button">Light:</label>
    <textarea id="light-button" onfocus="this.select()" rows="1" readonly>&lt;a href="{{ global.baseURL }}"&gt;&lt;img width="88" height="31" loading="lazy" decoding="async" src="{{ 'button-light.jpg' | absoluteUrl(global.baseURL) }}" alt="NaiNonTheN00b1 Button"&gt;&lt;/a&gt;</textarea>
    <label for="dark-button">Dark:</label>
    <textarea id="dark-button" onfocus="this.select()" rows="1" readonly>&lt;a href="{{ global.baseURL }}"&gt;&lt;img width="88" height="31" loading="lazy" decoding="async" src="{{ 'button-dark.jpg' | absoluteUrl(global.baseURL) }}" alt="NaiNonTheN00b1 Button"&gt;&lt;/a&gt;</textarea>
    <p>Alternatively, you can use my <a target="_blank" href="https://nainonth.neocities.org/assets/images/me/button.jpg">Old Neocities button</a></p>
</section>