---
title: NaiNonTheN00b1
description: Get to know me, NaiNonTheN00b1, including some of my Projects and Blog Posts about my thoughts!
styles:
  - index
scripts:
  - index
layout: "Main.njk"
---

<section id="s-1" aria-label="Greetings">
    <picture>
        <source srcset="/assets/images/avatar.webp" type="image/webp">
        <img width="135" height="135" src="/assets/images/avatar.jpg" alt="The Webmaster's Avatar">
    </picture>
    <div>
        <h1 id="hello-world">Hello, world!</h1>
        <p><strong>I'm Non</strong>, and welcome to my <del>200th</del> personal website! Here, you will find my about me, some projects I made, and probably some blog posts.</p>
        <p class="splash">
            <button title="Re-randomize Splash Text" id="random-splash" class="js">
                <svg width="18" height="18" viewBox="0 0 8.467 8.467" xmlns="http://www.w3.org/2000/svg"><path d="M4.232 0A4.24 4.24 0 0 0 0 4.232c0 2.33 1.9 4.235 4.232 4.235a4.24 4.24 0 0 0 3.473-1.82l-1.174-.451a3.01 3.01 0 0 1-2.3 1.056 3.01 3.01 0 0 1-3.018-3.02 3.01 3.01 0 0 1 3.019-3.019c.855 0 1.623.351 2.171.917l-1.111.648L8.467 4.63V.926l-1 .583A4.23 4.23 0 0 0 4.231 0" style="fill:currentColor;stroke-width:1.05833;paint-order:stroke fill markers"/></svg>
            </button>
            <span>Also,</span>
            <span class="js" id="splash">...</span>
            <abbr
                class="js"
                title="This is a splash message, randomized on page load.">
                <svg width="24" height="24" viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" fill="none" stroke="currentColor" stroke-width=".8" style="stroke-width:.75;stroke-dasharray:none" r="3.125"/><rect x="3.625" y="3.563" width=".75" height="2.25" ry="0" fill="currentColor" style="stroke-width:.999998"/><circle cx="4" cy="2.688" fill="currentColor" r=".438" style="stroke-width:1"/></svg>
            </abbr>
            <noscript>I CAN'T LOAD THE GODDAMN JAVASCRIPT!! (but that's ok)</noscript>
        </p>
    </div>
</section>
<section id="s-2" aria-labelledby="projects">
    <h2 id="projects">Projects</h2>
    <ul>
        <li><a href="/minecraft/">Minecraft</a></li>
        <li><a target="_blank" href="https://nainonth.github.io/Bmi-Calc">Bmi-Calc</a></li>
        <li><a target="_blank" href="https://npmjs.org/sign-lang">Sign</a></li>
        <li><a target="_blank" href="https://nm.nons.page">NM Project</a></li>
        <li><a target="_blank" href="https://github.com/NaiNonTH/drug-driver">Drug Driver</a></li>
    </ul>
</section>
<section id="s-3" aria-labelledby="latest-post">
    {% set latestPost = (collections.blog | reverse)[0] %}
    <h2 id="latest-post">Latest Post</h2>
    <a class="not-text" href={{ latestPost.url }}>
        <article>
            <h3>{{ latestPost.data.title }}</h3>
            <picture>
                <source srcset="{{ latestPost.url + 'thumbnail.webp' }}" type="image/webp">
                <img loading="lazy" decoding="async" src="{{ latestPost.url + 'thumbnail.jpg' }}" alt="A Thumbnail for Latest Post: {{ latestPost.data.title }}">
            </picture>
        </article>
    </a>
</section>
<section id="s-4" aria-labelledby="recent-update">
    <h2 id="recent-update">Site Update</h2>
    <article>
        {% set recentUpdate = (collections.updates | reverse)[0] %}
        <h3><a href="/updates/">{{ recentUpdate.date | formatDate }}</a></h3>
        {{ recentUpdate.content | safe }}
    </article>
</section>
<section id="s-5" aria-labelledby="buttons">
    <h2 id="buttons">Buttons</h2>
    <p>Share my site on your website</p>
    <div>
        <a class="not-text" href="/">
            <img width="88" height="31" loading="lazy" decoding="async" src="/button-light.jpg" alt="NaiNonTheN00b1 Button">
        </a>
        <textarea id="light-button" onfocus="this.select()" rows="1" readonly>&lt;a href="{{ global.baseURL }}"&gt;&lt;img width="88" height="31" loading="lazy" decoding="async" src="{{ 'button-light.jpg' | htmlBaseUrl(global.baseURL) }}" alt="NaiNonTheN00b1 Button"&gt;&lt;/a&gt;</textarea>
        <a class="not-text" href="/">
            <img width="88" height="31" loading="lazy" decoding="async" src="/button-dark.jpg" alt="NaiNonTheN00b1 Button">
        </a>
        <textarea id="dark-button" onfocus="this.select()" rows="1" readonly>&lt;a href="{{ global.baseURL }}"&gt;&lt;img width="88" height="31" loading="lazy" decoding="async" src="{{ 'button-dark.jpg' | htmlBaseUrl(global.baseURL) }}" alt="NaiNonTheN00b1 Button"&gt;&lt;/a&gt;</textarea>
    </div>
    <p>Alternatively, you can use my <wbr><a target="_blank" href="https://nainonth.neocities.org/assets/images/me/button.jpg">Old Neocities button</a></p>
</section>