---
title: Sitemap
layout: "Article.njk"
---

<ul>
    {% for page in collections.all | sort(false, false, "data.title") %}
        {% if page.url %}
            <li>
                <a href="{{ page.url }}">{{ page.data.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>