%site-wrapper {
    position: relative;
    margin: auto;
    max-width: 62.5rem;
}
%scheme-light {
    background: rgb(var(--base-accent));
    color: rgb(var(--fg-base));
}
%scheme-light-contrast {
    background: rgb(var(--box));
    color: rgb(var(--fg-box));
}
%scheme-dark {
    background: rgb(var(--prominence));
    color: rgb(var(--fg-prominence));
}
%section-box {
    @extend %scheme-light-contrast;
    overflow: hidden;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: var(--box-shadow-lg);
}
%navigations {
    list-style: none;
    margin: 0;

    display: flex;
    flex-direction: row;
    padding: 0;
    white-space: nowrap;
}
%navigations-anchors {
    padding: 1rem;
    color: inherit;
    display: block;

    transition: background-color 0.2s, color 0.2s;
}
%absolute {
    position: absolute;
}
%flex {
    display: flex;
}
%flex-justify-between {
    justify-content: space-between;
}
%grid {
    display: grid;
}
%text-center {
    text-align: center;
}