@use "mixins" as *;

article {
    grid-column: span 12;

    img {
        max-width: 100%;
        max-height: 24rem;
        text-align: center;
    }
}
article > *:not(figure) {
    max-width: 40rem;
    margin-inline: auto;
}
i {
    display: block;
}
h1 {
    font-size: 2.25em;
    margin-bottom: 1rem;
}
figure {
    @extend %scheme-light-contrast;
    max-width: fit-content;
    margin: 1em auto;
    padding: 1%;
    box-shadow: var(--box-shadow-md),
}
figcaption {
    text-align: center;
    font-size: 0.85em;
}
@media only print {
    html {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14pt !important;
    }
    header {
        display: none;
    }
    footer {
        display: none;
    }
    html,
    main,
    article {
        padding: 0;
        background: none;
    }
    h1:first-of-type {
        margin-top: 0;
    }
}