@use "mixins" as *;

article {
    grid-column: span 12;

    img {
        max-width: 100%;
        max-height: 24em;
        text-align: center;
    }
    > *:not(figure, blockquote) {
        max-width: 40rem;
        margin-inline: auto;
    }
    table {
        margin-block: 2.5em;
        overflow-x: auto;
        border-bottom: 1px solid rgb(var(--box));
    
        th, td {
            padding: 0.5em;
        }
        th {
            @extend %scheme-light-contrast;
            font-size: 1.125em;
        }
        tr:nth-child(even) td {
            background: rgb(var(--base));
        }
    }
    header {
        padding-bottom: 0.5em;
        border-bottom: 1px solid;
    }
}
h1 {
    font-size: 2.25em;
    margin-bottom: 1rem;
}
figure {
    @extend %scheme-light-contrast;
    max-width: fit-content;
    margin: 2.5em auto;
    padding: 1%;
}
figcaption {
    text-align: center;
    font-size: 0.85em;
}
blockquote {
    max-width: 38rem;
    margin: 1em auto;
    padding: 1em;
    border-inline: 1px solid currentColor;
}
pre {
    padding: 1em;
    background: rgb(var(--prominence));
    border-radius: 20px;
    overflow-x: auto;

    code {
        padding: 0;
    }
}
*:not(:hover) .header-anchor:not(:focus) {
    opacity: 0;
}
.tags {
    text-align: right;
    grid-column: 2 / span 10;
}
@media only print {
    html {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12pt !important;
    }
    .site-header,
    .header-anchor,
    header abbr,
    footer {
        display: none;
    }
    html,
    main,
    figure,
    article {
        padding: 0;
        background: none;
    }
    h1:first-of-type {
        margin-top: 0;
    }
}