@use "mixins" as *;

#tags-section {
    grid-column: 10 / span 3;
    grid-row: 1 / span 2;

    ul {
        padding: 0;
        list-style: none;

        display: flex;
        flex-direction: row;
        gap: 0.5em;

        max-height: 16em;
        overflow-x: auto;
    }
    a {
        padding: 0.5em 0.75em;
        font-size: 0.85em;
    }
    @media (min-width: calc(62.5rem + 1px)) {
        margin-top: 2em;
        align-self: start;

        ul {
            flex-wrap: wrap;
        }
    }
}
#index,
#pagination,
h1 {
    grid-column: 2 / span 8;
}
h1,
#index div {
    display: flex;
}
h1 {
    justify-content: space-between;
}
#index {
    a:not(.btn) {
        position: relative;
        color: inherit;
    }
    a:hover {
        z-index: 1;
    }
}
article {
    @extend %scheme-light-contrast;
    padding: 1em;
    border-bottom: 2px solid rgb(var(--base));
    transition: box-shadow 0.2s;
    
    &:hover {
        box-shadow: var(--box-shadow-md);
    }
}
.pageNumber {
    @extend %scheme-dark;
    padding: 0.5rem;
    left: 0;

    @media (min-width: calc(62.5rem + 1px)) {
        position: absolute;
        padding: 0.75rem;
    }
}
.total {
    vertical-align: bottom;
    font-size: 0.55em;
}
.previous {
    margin-bottom: 1em;

    .feed {
        margin-left: auto;
    }
}
.next {
    margin-top: 1em;

    a {
        margin-left: auto;
    }
}