@use "mixins" as *;

#tags-section {
    grid-column: 9 / span 3;
    grid-row: 1 / span 2;
    
    ul {
        padding: 0;
        list-style: none;

        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        max-height: 16rem;
        overflow: auto;
    }
    a {
        padding: 0.5em 0.75em;
        font-size: 0.85em;
    }
    @media (min-width: 56.26rem) {
        margin-top: 2rem;
        align-self: start;

        background: rgb(var(--box));
        color: rgb(var(--fg-box));
        padding: 1.5rem;
        border-radius: 20px;
        box-shadow: var(--box-shadow-lg);

        ul {
            flex-wrap: wrap;
        }
    }
}
#index,
#pagination,
h1 {
    grid-column: 2 / span 7;
}
h1,
#index div {
    display: flex;
}
h1 {
    justify-content: space-between;
}
#index {
    a:not(.btn) {
        position: relative;
        color: inherit;
    }
    a:hover {
        z-index: 1;
    }
}
article {
    @extend %scheme-light-contrast;
    padding: 1rem;
    border-bottom: 2px solid rgb(var(--base));
    transition: box-shadow 0.2s;
    will-change: box-shadow;
    
    &:hover {
        box-shadow: var(--box-shadow-md);
    }
}
.pageNumber {
    @extend %scheme-dark;
    padding: 0.5rem;
    left: 0;

    @media (min-width: 56.26rem) {
        position: absolute;
        padding: 0.75rem;
    }
}
.total {
    vertical-align: bottom;
    font-size: 0.55em;
}
.previous {
    margin-bottom: 1rem;

    a {
        margin-right: auto;
    }
}
.next {
    margin-top: 1rem;

    a {
        margin-left: auto;
    }
}