@use "mixins" as *;

#tags-section {
    @extend %section-box;
    grid-column: 9 / span 3;
    grid-row: 1 / span 2;
    align-self: start;
    margin-top: 2rem;
    
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    a {
        display: block;
    }
}
#index,
#pagination,
h1 {
    grid-column: 2 / span 7;
}
h1,
#index div {
    display: flex;
}
h1 {
    justify-content: space-between;
}
#index {
    a:not(.btn) {
        position: relative;
        color: inherit;
    }
    a:hover {
        z-index: 1;
    }
}
article {
    @extend %scheme-light-contrast;
    padding: 1rem;
    border-bottom: 2px solid rgb(var(--base));
    transition: box-shadow 0.2s;
    will-change: box-shadow;
    
    &:hover {
        box-shadow: var(--box-shadow-md);
    }
}
a.btn {
    font: 1.125em bold;
}
.pageNumber {
    @extend %scheme-dark;
    padding: 0.5rem;
    left: 0;

    @media (min-width: 56.26rem) {
        position: absolute;
        padding: 0.75rem;
    }
}
.total {
    vertical-align: bottom;
    font-size: 0.55em;
}
.previous {
    margin-bottom: 1rem;

    a {
        margin-right: auto;
    }
}
.next {
    margin-top: 1rem;

    a {
        margin-left: auto;
    }
}