@use "mixins" as *;

h1,
main > p {
    margin: 0;
    grid-column: 2 / span 10;
}
section {
    @extend %section-box;
}
main > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.left {
    grid-column: 2 / span 3;
}
.right {
    grid-column: 5 / span 7;
}
#s-1 {
    padding: 1rem 0.25rem;
    text-align: center;
}
#s-2 article {
    margin: 1rem 0;
}