@use "mixins" as *;

h1,
main > p {
    margin: 0;
    grid-column: 2 / span 10;
}
section {
    @extend %section-box;
}
main > div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.left {
    grid-column: 2 / span 3;
}
.right {
    grid-column: 5 / span 7;
}
#s-1,
#s-3 h2 {
    text-align: center;
}
#s-1,
#s-3 {
    padding: 1rem;
}
#s-3 ul {
    padding-left: 1.25em;
}
#s-2 article {
    margin: 1em 0;
}