@use "mixins" as *;

h1,
main > p {
    margin: 0;
    grid-column: 2 / span 10;
}
section {
    @extend %section-box;
    align-self: start;
}
#s-1 {
    grid-column: 2 / span 3;
    padding: 1rem;
    text-align: center;
}
#s-2 {
    grid-column: 5 / span 7;

    article {
        margin: 1rem 0;
    }
}