@use "mixins" as *;

:root {
    --box-shadow-md: 0 0.2em 0.7em -0.35em #000;
    --box-shadow-lg: 
        0 0.25em 0.25em #0001,
        0 0.5em 0.75em #0001,
        0 0.75em 1em #0001;
}
:root,
html[theme="broken-hoe"] {
    --base: 250, 234, 215;
    --base-accent: 255, 244, 230;
    --prominence: 39, 28, 9;

    --hyperlinked: 42, 42, 223;
    --prominence-hyperlinked: 255, 226, 50;
}
html[theme="navy"] {
    --base: 240, 240, 255;
    --base-accent: 250, 250, 255;
    --prominence: 0, 0, 66;

    --hyperlinked: 42, 42, 223;
    --prominence-hyperlinked: 150, 221, 255;
}
:root,
html[theme="navy"],
html[theme="broken-hoe"] {
    --box: 255, 255, 255;

    --fg-prominence: var(--base);
    --fg-base: var(--fg-box);
    --fg-box: 0, 0, 0;
    
    color-scheme: only light;
}
html[theme="bedtime"],
html[theme="mono"] {
    --hyperlinked: 255, 227, 135;
    --prominence-hyperlinked: var(--hyperlinked);
    
    color-scheme: only dark;
}
html[theme="bedtime"] {
    --box: 75, 75, 134;
    --base: 40, 40, 60;
    --base-accent: 45, 45, 75;
    --prominence: 25, 25, 35;

    --fg-prominence: 210, 210, 255;
    --fg-base: var(--fg-prominence);
    --fg-box: 235, 235, 240;
}
html[theme="mono"] {
    --box: var(--prominence);
    --base: 0, 0, 0;
    --base-accent: 18, 18, 18;
    --prominence: 28, 28, 28;

    --fg-prominence: var(--fg-base);
    --fg-base: 255, 255, 255;
    --fg-box: var(--fg-base);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(var(--base));
    scroll-padding-top: 12vh;
}
body {
    margin: 0;
    font-size: 1.125rem;
    min-width: 20em;
}
.site-header {
    @extend %scheme-dark;
    position: relative;
    z-index: 1;
}
.site-header {
    nav {
        @extend %site-wrapper;
        --avatar-size: 100px;
        margin-top: 2em;
        height: 3.5rem;

        ul {
            @extend %navigations;
            margin-left: calc(var(--avatar-size) + 2em);

            a,
            button {
                @extend %navigations-anchors;
            }
            :is(a, button):is(:hover, [aria-current="true"]) {
                @extend %scheme-light;
            }
            button {
                margin-left: auto;
                border-radius: 0;
            }
        }
    }
}
.avatar {
    --border-size: 10px;

    @extend %absolute;
    top: 50%;
    left: 1em;
    z-index: 1;
    transform: translateY(-50%);

    &[aria-current="true"] img {
        --active: 0 0 0 2px rgb(var(--base))
    }
    img {
        width: var(--avatar-size);
        height: var(--avatar-size);
        border-radius: 50%;
        box-shadow:
            var(--active, 0 0),
            0 0 0 var(--border-size) rgb(var(--prominence));
    
        transition: filter 0.2s;
    }
}
:first-child {
    margin-top: 0;
}
:last-child {
    margin-bottom: 0;
}
main {
    @extend %site-wrapper;
    @extend %scheme-light;
    padding: 3em 1.5em;
    width: 100%;
    height: 100%;

    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(12, 1fr);
    
    line-height: 1.75;
}
footer {
    @extend %site-wrapper;
    @extend %scheme-light-contrast;

    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
    margin-bottom: 3em;
    border-radius: 0 0 20px 20px;

    div {
        padding: 0.5em 1em 1em 2em;
    }
    nav {
        margin-left: auto;
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        a {
            @extend %navigations-anchors;
            border-radius: 9em 0 0 9em;
            padding: 0.5em 2em 0.5em 1.5em;

            &:hover,
            &[aria-current="true"] {
                @extend %scheme-light;
            }
        }
    }
}
#last-built {
    text-align: right;
    font-size: medium;
    font-style: italic;
}
a {
    img {
        transition: filter 0.2s;
    }
    &:hover img {
        filter: brightness(1.2);
    }
}
%indicator {
    font-size: 0.6em;
    position: relative;
    left: 0.3ch;
    bottom: 0.8ch;
}
html:not([no-anchor-indicator="true"]) a:not(.not-text) {
    &[href^="http"]:not([href^="https://nons.page"])::after {
        content: "↗";
        @extend %indicator;
    }
    &[href^="#"]:not(.header-anchor)::after {
        content: "§";
        @extend %indicator;
    }
}
a,
abbr[title] {
    text-decoration: none;
}
abbr[title] {
    cursor: help;
    border-bottom: 1px dashed;
    vertical-align: middle;
}
abbr[title]::after {
    content: attr(title);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    @extend %site-wrapper;
    padding: 1em;
    background: #000;
    color: #fff;
    z-index: 9;

    transform: translateY(100%);
    transition: transform 0.2s;
}
html:not([no-mobile-tooltip="true"]) abbr[title]:hover::after {
    transform: translateY(0);
}
main a:not(.btn):not(.not-text) {
    color: rgb(var(--hyperlinked));
    border-bottom: 1px solid;

    &:hover {
        border-bottom-style: dotted;
    }
}
code {
    @extend %scheme-dark;
    font-size: 0.925em;
    padding: 0.175em;
}
button {
    font: inherit;
    border: none;

    &[disabled] {
        opacity: 0.3;
    }
}
button,
a.btn {
    display: inline-block;
    border-radius: 10px;
    padding: 0.5em 1em;

    @extend %scheme-dark;
}
a.btn,
button:not([disabled]) {
    &:hover {
        @extend %scheme-light;
        outline: 2px solid rgb(var(--fg-base));
        outline-offset: -2px;
    }
    &:active {
        transform: scale(0.95);
    }
}
hr {
    border: none;
    height: 1px;
    background: currentColor;
}
table.no-thead th {
    white-space: nowrap;
    vertical-align: baseline;
    padding-right: 1.5em;
    text-align: left;
}
summary {
    cursor: default;
    padding: 0.5em;
    border-bottom: 1px solid;

    &:hover {
        background: linear-gradient(
            transparent,
            #ffffff32
        );
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --box: 75, 75, 134;
        --base: 40, 40, 60;
        --base-accent: 45, 45, 75;
        --prominence: 25, 25, 35;

        --hyperlinked: 255, 227, 135;
        --prominence-hyperlinked: var(--hyperlinked);

        --fg-prominence: 210, 210, 255;
        --fg-base: var(--fg-prominence);
        --fg-box: 235, 235, 240;
        
        color-scheme: only dark;
    }
}
@media (prefers-reduced-motion) {
    * {
        transition-duration: 0s !important;
    }
}
@media (min-width: calc(48rem + 1px)) {
    .mobile {
        display: none;
    }
    .settings {
        margin-left: auto;
    }
}
@media (max-width: 48rem) {
    .site-header {
        nav {
            --avatar-size: 80px;
            margin-top: 0;

            ul {
                background: rgb(var(--prominence));
                color: rgb(var(--fg-prominence));

                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;

                flex-direction: column;
                
                &:focus-within {
                    li {
                       display: block;
                   }
                }
            }
            li:not(.mobile) {
                display: none;
            }
        }
    }
    .avatar {
        top: 5px;
        transform: none;
    }
    .avatar img {
        --border-size: 8px;
    }
}
@media (max-width: 62.5rem) {
    main {
        display: flex;
        flex-direction: column;
        padding: 3em 3%;
    }
}