main :not(noscript) {
    grid-column: span 4;
}
noscript {
    font-size: 1.25em;
    grid-column: 3 / span 8;

    p {
        border-left: 0.35em solid red;
        background: #800;
        color: #fff;
        text-align: center;
        padding: 0.5em 1em;
    }
    small {
        font-size: 1rem;
    }
}
legend {
    font-size: 1.125em;
    font-weight: bold;
}
fieldset {
    border: none;
}